body{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-y: none;
}

header{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
}

.mobile-menu{
    display: none;
    height: 115%;
    width: 50%;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 2;
    padding: 2rem 2rem;
}

.links{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 1.5rem;
    margin-top: 4rem;
    font-size: 20px;
}

.links a{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    gap: 1rem;
}

.cart{
    display: flex;
    gap: 1rem;
}

.cart img{
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

.carousel-section--mobile{
    display: none;
    flex-direction: column;
    align-items: center;
}

.active{
    display: flex;
}

.img-section{
    display: flex;
}

.img-section img{
    width: 100%;
}

.move-btns{
    display: flex;
    position: relative;
    justify-content: space-between;
    bottom: 14rem;
    width: 95%;
}

.move-btns img{
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 100px;
    padding: 0.8rem;
    cursor: pointer;
}

.text-section{
    padding: 0rem 1.5rem;
    margin-top: -1rem;
}

.text-section h4{
    margin-top: 0;
    color: hsl(26, 100%, 55%);
}

.text-section p{
    font-size: 15px;
    line-height: 25px;
    color: hsl(219, 9%, 45%);
}

.price-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    padding: 0rem 1.4rem;
}

.price{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.price h4{
    padding: 0.2rem 0.6rem;
    background-color: hsl(25, 100%, 94%);
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
}

.mrp h4{
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}

.utility-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    background-color: hsl(223, 64%, 98%);
    padding: 0rem 1rem;
}

.row img{
    width: 1rem;
    height: 1rem;
}

#minus {
    height: 0.4rem;
    cursor: pointer;
}

#plus{
    cursor: pointer;
}

.utility-row button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    border: none;
    outline: none;
    color: white;
    gap: 1rem;
    padding: 0.3rem 0rem;
    margin-top: 2rem;
    width: 90%;
    box-shadow: 2px 4px 15px hsla(26, 100%, 55%, 0.486);
}

.utility-row button:hover{
    opacity: 0.7;
}

.basket{
    display: none;
    flex-direction: column;
    width: 95%;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.308);
    position: absolute;
    background-color: white;
    top: 6rem;
    z-index: 1;
}

.basket h4{
    padding: 0rem 1.5rem;
}

.basket hr{
    width: 100%;
    padding: 0;
    display: block;
}

.empty{
    display: none;
    padding: 4rem 3.5rem 5rem 3.5rem;
    text-align: center;
    justify-content: center;
}

.empty h4{
    color: hsl(219, 9%, 45%);
}

.show{
    display: flex !important;
}

.filled{
    display: none;
    padding: 2rem 1rem;
    flex-direction: column;
}


.filled img{
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
}

.cart-detail{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.detail{
    display: flex;
    flex-direction: column;
}

#final-amount{
    font-weight: 700;
    margin-left: 1rem;
}

.detail p{
    margin:0;
    line-height: 25px;
}

.delete-icon img{
    width: 1rem;
    height: 1.2rem;
    cursor: pointer;
}

.checkout button{
    width: 100%;
    padding: 1rem 0rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    background-color:  hsl(26, 100%, 55%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
}

.item-number{
    display: none;
    justify-content: center;
    height: 0.8rem;
    width: 1.2rem;
    border-radius: 25px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-weight: 700;
    position: absolute;
    top: 1.4rem;
    right: 4rem;
    font-size: 8px;
}

.desktop-nav,hr,.carousel-section--desktop{
    display: none;
}

.carousel-section--mobile{
    display: flex;
}

@media screen and (min-width:1440px) {
    body{
        padding: 0rem 8rem;
    }

    header{
        padding: 2rem 1.5rem;
    }

    .cart{
        align-items: center;
    }
    #avatar{
        width: 2.5rem;
        height: 2.5rem;
    }

    .desktop--main{
        display: flex;
        padding: 3rem;
        gap: 4rem;
    }

    .left--section{
        width: 45%;
    }

    .right--section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
    }

    .carousel-section--desktop{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .carousel-section--desktop .img-section img{
        width: 85%;
        border-radius: 15px;
    }
    
    #menu-open{
        display: none;
    }

    .nav-links{
        list-style-type: none;
    }

    .desktop-nav{
        display: flex;
        margin-left: -25rem;
    }

    .desktop-nav li{
        display: flex;
        gap: 2rem;
    }

    .nav-links a{
        text-decoration: none;
        color: hsl(219, 9%, 45%);
    }

    .nav-links a:hover{
        text-decoration: underline 3px hsl(26, 100%, 55%);
        text-underline-offset: 3rem;
    }

    #line{
        display: block;
        color: rgba(29, 27, 27, 0.377);
        width: 98%;
        margin-bottom: 3rem;
        margin-top: 0rem;
    }

    .img-row{
        display: flex;
        gap: 1.3rem;
        
    }

    .img-row img{
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .img-row img:hover{
        opacity: 0.7;
        border: solid 2px hsl(26, 100%, 55%);
    }

    .text-section h4{
        font-size: 16px;
    }

    .text-section h1{
        font-size: 42px;
        margin-top: 0.8rem;
    }

    .price-section{
        flex-direction: column;
        align-items: flex-start;
    }

    .mrp{
        margin-top: -2rem;
    }

    .utility-row{
        flex-direction: row;
        gap: 1.5rem;
        margin-left: 3rem;
    }

    .row{
        width: 50%;
    }

    .utility-row button{
        margin-top: 0;
        cursor: pointer;
    }

    .basket{
        width: 25%;
        right: 7rem;
    }

    .empty{
        padding: 2rem 0rem 5rem 0rem;
    }

    .filled{
        padding: 1rem 1rem 2rem 1rem;
    }

    .item-number{
        position: absolute;
        top: 2.6rem;
        right: 12.5rem;
        font-size: 10px;
    }

    .carousel-section--mobile{
        display: none;
    }
}